.login-container {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.login {
  margin: auto;
}

.login-btn {
  margin: 5px auto;
  background-color: var(--green-spotify);
  padding: 10px 20px;
}
