/* .playlist-container {
  color: var(--white-spotify);
  background-color: #1c1c1c;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
}

.play-btn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50% !important;
  margin: 15px 20px;
}

.play-btn i {
  font-size: 2rem;
  color: black;
  margin-left: 5px;
}

.form-top {
  background-color: #191414;
  display: flex;
  color: var(--white-spotify);
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
}

.form-top img {
  width: 30%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.form-top form {
  margin: 10px;
  width: 70%;
}

.form-desc-playlist {
  width: 100%;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-top .form-desc-playlist h1 {
  margin: 0;
}

.form-top .form-desc-playlist input,
textarea {
  width: 75%;
}

button.button-submit {
  margin-top: 15px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.5s ease;
}

button.button-submit:hover {
  background-color: var(--white-spotify);
  color: var(--green-spotify);
}

.playlist-container table {
  width: 100%;
}

.playlist-container table th,
td {
  text-align: left;
}

form h1,
h2,
h3 {
  text-align: center;
}

.search-input {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto 50px;
}

.search-btn {
  background: none;
} */
