* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #191414;
}

h1 {
  text-align: center;
  color: white;
}

.playlist-container table {
  margin: 50px auto;
  width: 80%;
}

.playlist-container table th,
td {
  text-align: left;
}

.play-btn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50% !important;
  margin-top: 15px;
}

.play-btn i {
  font-size: 2rem;
  color: black;
  margin-left: 5px;
}
