* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #191414;
}

h1 {
  text-align: center;
  color: white;
}

.playlist-container {
  border: 1px solid black;
  min-height: 90vh;
  color: white;
  background-color: #1c1c1c;
  padding: 50px;
  width: 80%;
  margin: 50px auto;
}

.playlist-container table {
  width: 100%;
}

.playlist-container table th,
td {
  text-align: left;
}

.bottom-menu-wrapper {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

.search-input {
  display: flex;
  align-items: center;
  width: 50%;
}

.play-btn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50% !important;
  margin: 15px 20px;
}

.play-btn i {
  font-size: 2rem;
  color: black;
  margin-left: 5px;
}

.search-btn {
  background: none;
}
