.song-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  width: 75%;
  justify-content: flex-start;
}

.song-artist {
  color: gray;
}

.song-info {
  margin-left: 10px;
}

.song-info h4,
p {
  margin: 0;
  text-align: left;
}

.song-info p {
  font-size: 12px;
}

.song-wrapper {
  display: flex;
  align-items: center;
}

.song-wrapper img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin-right: 10px;
}

.explicit {
  margin-left: 10px;
  font-size: 0.75rem;
  font-weight: 200;
}
