.playlist-container {
  border: 1px solid black;
  margin-top: 20px;
  min-height: 90vh;
  color: white;
  background-color: #1c1c1c;
  padding: 10px;
  width: 80%;
}

.playlist-info-wrapper {
  margin: 50px 100px;
}

.playlist-info {
  display: flex;
  align-items: flex-end;
  width: fit-content;
}

.playlist-info img {
  width: 200px;
}

.desc-playlist {
  margin-left: 15px;
}

.desc-playlist > h1 {
  font-size: 4rem;
}

.desc-playlist > h1,
p {
  text-align: left;
  margin: 0;
}

.desc-playlist h4 {
  margin-bottom: 0;
}

.bottom-menu-wrapper {
  display: flex;
}

.search-input {
  display: flex;
  align-items: center;
  width: 50%;
}

.play-btn {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50% !important;
  margin: 15px 20px;
}

.play-btn i {
  font-size: 2rem;
  color: black;
  margin-left: 5px;
}

.search-btn {
  background: none;
}
