.playlist-info {
  display: flex;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto 60px;
}

.playlist-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.desc-playlist {
  margin-left: 15px;
}

.desc-playlist > h1 {
  font-size: 3.5rem;
}

.desc-playlist > h1,
p {
  text-align: left;
  margin: 0;
}

.desc-playlist h4 {
  margin-bottom: 0;
  margin-top: 5px;
}
