.form-container,
.playlist-container {
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.form-container {
  background-color: #191414;
  display: flex;
  color: white;
  margin-top: 50px;
  width: 50%;
}

.form-container img {
  width: 50%;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.form-container form {
  margin: 10px;
  width: 50%;
}

button.button-submit {
  margin-top: 15px;
  border-radius: 20px;
}
